@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: Montserrat;
}

#button {
  padding: 10px 60px;
  font-family: Montserrat;
  border: 1px solid;
  height: 40px;
  width: 220px;
  background-color: #7f867b;
  color: white;
}

.parallax {
  position: relative;
  width: 1300px;
  height: 700px;
  margin-top: 20px;
  overflow: hidden;
}

#background {
  position: absolute;
  width: 120%;
  height: 100%;
  animation: backgroundAnimation 8s ease-in;
  filter: blur(1px);
}

#elefant {
  position: absolute;
  width: 1300px;
  height: auto;
  animation: trainAnimation 8s ease-in;
  filter: blur(0.1px);
}

#tree {
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: 1;
  animation: treeAnimation 8s ease-in;
}

#garden {
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: 3;
  animation: allAnimation 8s ease-in;
}

@keyframes trainAnimation {
  from {
    left: -20%;
    top: 200px;
    transform: scale(0.2);
    width: 300px;
  }

  to {
    left: 100%;
    top: 50px;
    transform: scale(3);
    width: 300px;
  }
}

@keyframes allAnimation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes treeAnimation {
  from {
    transform: scale(0.8);
    bottom: -20px;
  }

  to {
    transform: scale(1.2);
    bottom: -2px;
  }
}

@keyframes backgroundAnimation {
  from {
    transform: scale(1);
    left: -5px;
  }

  to {
    transform: scale(1);
    left: -100px;
  }
}
